*{
	font-family: 'Convincing Pirate', sans-serif;
	margin:0;
	padding:0;
	letter-spacing: 2px;
}
body{
	background-image: url("https://rokmrhar.github.io/the-bricks/ozadje.jpg");
	background-size: cover;
    background-position: contain;
}
canvas{ 
	font-family: 'Convincing Pirate', sans-serif;
	background: #eee; 
	opacity: 0.97;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
	border: 1px solid #3d2f45;
	border-radius: 5px;
	display: block;

}
.points{
    position: absolute;
    height: auto;
    width: auto;
    right: 250px;
    top: 13%;
    padding: 10px;
    display: flex;
    font-size: 16px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    border: 1px solid #3d2f45;
    border-radius: 5px;
	line-height: 1.8;
    background: #eee;
}

.main{
	margin-top: 20px;
	display: flex;
	justify-content: center;
    align-items: center;
	font-family: 'Convincing Pirate', sans-serif;
	
}
h1{
	font-family: 'Treasure Map Deadhand', sans-serif;                                       
}
.naslov{
	font-family: 'Treasure Map Deadhand', sans-serif;
	text-align: center;
	margin: 10px 10px;
	font-size: 42px;
	color: #fefce7;
	font-weight: bold;
	-webkit-text-stroke: 0.5px #3d2f45;
}
.controls{
	padding: 30px;
	font-size: 14px;
	text-transform: uppercase;
	display: flex;
    justify-content: center;
    align-items: center;
	
}
button{
	font-family: 'Convincing Pirate', sans-serif;
	padding: 12px 32px;
	border-radius: 5px;
	border: none;
	background-color: #4B2E19;
	color: #FFD700;
	font-size: 20px;
	font-weight: bold;
}
button:hover{
	background-color: #5E3A24;
}


