*{
	margin:0;
	padding:0;
	font-family: Arial;
}
canvas{ 
	background: #eee; 
	
}
.main{
	margin-top: 20px;
	display: flex;
	justify-content: center;
    align-items: center;
}
.controls{
	padding: 30px;
	font-size: 14px;
	text-transform: uppercase;
	
}
button{
	padding: 10px 22px;
	border-radius: 5px;
	border: none;
	background-color: #008000;
	color: white;
	font-size: 14px;
	font-weight: bold;
}
button:hover{
	background-color: #339933;
}