*{
	margin:0;
	padding:0;
	
}
canvas{ 
	background: #eee; 
	
}
.main{
	margin-top: 20px;
	display: flex;
	justify-content: center;
    align-items: center;
}
.controls{
	padding: 10px;
	font-size: 14px;
	text-transform: uppercase;
	
}
